
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.kr{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.kr_light{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}
.desc {
    text-decoration: line-through;
    font-size: 14px;
    color: #999;
    margin-bottom: 0;
}
.road{
    font-size: 13px;
    text-align: right;
    font-weight: normal;
}

span{
    cursor: pointer;
    scale: 13px;
}

.about-page h4{
    margin-bottom: 30px;
    text-align: left;
}

.about-page {
    padding-top: 100px;
    width: 1300px;
    height: 7250px;
    text-align: center;
}
.about-img{
    width: 1100px;
    height: 7000px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.about-img img {
    width: 100%;
    height: 100%;
    background-image: url(../../public/lika_img/about.jpg);
    background-repeat: no-repeat;
}