@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.cart_page{
    padding-top: 100px;
}
td, th, p, span {
    vertical-align: middle;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: bold; */
    font-weight: normal;
    font-size: 13px;
}
.bold{font-weight: bold;}
.cart_page >.container{
    padding: 0 64px;
}
.cart_page >.container >h5{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin: 50px 0;
    text-align: left;

}

.count_button {
    width: 70px;
    background-color: #000;
    padding: 10px; box-sizing: border-box;
    
}
.count_button >p{
    height: 28px;
    line-height: 28px;
    width: 23px;
    margin-bottom: 0;
    float: left;
    border: 1px solid #999;
    border-right: none;
    border-radius: 5px 0px 0px 5px ;
}
.count_button >div{
    float: left;
}
.count_button >div>div{
    border: 1px solid #999;
    text-align: center;
    width: 22px;
    height: 14px;
    line-height: 10px;
    font-size: 12px;
    cursor: pointer;
}
.count_button >div>div:nth-child(1){
    border-bottom: none;
}
.total_box{
    position: relative;
    border-top: 1px solid #ccc;
    padding: 20px 0; box-sizing: border-box;
}
.total_box >h5{
    color: #666;
    text-align: left;
    margin: 20px 0 10px 0;
}
.total_box >p{
    width: 210px;
    height: 20px;
    line-height: 20px;
    padding: 0 10px; box-sizing: border-box;
    text-align: left;
    background-color: #666;
    color: #fff;
}

.total_box >div{
    width: 550px;
    height: 40px;
    line-height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.total_box >div >p{
    font-weight: bold;
    color: #666;
}
.total_box >div >span{
    font-weight: normal;
    color: #666;
}
.total_box >button{
    margin: 20px 0;
    width: 120px;
    height: 40px;
    padding: 0 8px;
    border: none;
    font-weight: normal;
    font-size: 12px;
    background-color: #444;
    color: #fff;
}
.total_box >button:hover{
    background-color: #000;
    
}
.order_pop{
    position: absolute;
    /* display: none; */
    top: 50%; left: 50%;
    width: 450px; height: 350px;
    margin: -175px 0 0 -225px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 99999;
}
.order_pop .order_pop_top{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.order_pop_close{
    cursor: pointer;
    padding: 0 5px; box-sizing: border-box;
}
.order_pop_close:hover{
    color: #999;
}
.order_pop_middle{
    height: 230px;
    padding: 80px 0; box-sizing: border-box; 
}
.order_pop_bottom{
}
.order_bt {
    width: 96px; height: 32px;
    border: 1px solid #999;
    font-size: 13px;
    background-color: #444;
    color: #fff;
    font-weight: normal;

}
.order_bt:hover{
    background-color: #000;
}
.home_bt{
    margin-right: 10px;
}